<h1>Edit Your Fitness Buddy Profile.</h1>

<%= render "form", buddy: @buddy %>

<br>

<div>
  <%= link_to "Show my Fitness Buddy Profile", @buddy %> 
</div>

<div>
  <%= link_to "Back to all Fitness Buddies' profile", buddies_path %>
</div>
