<h1>Editing workout session</h1>

<%= render "form", workout_session: @workout_session %>

<br>

<div>
  <%= link_to "Show this workout session", @workout_session %> |
  <%= link_to "Back to workout sessions", workout_sessions_path %>
</div>
