<div id="<%= dom_id business_profile %>">
  

  <p>
    <strong>Name:</strong>
    <%= business_profile.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= business_profile.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= business_profile.location %>
  </p>

</div>
