<h1>Editing business profile</h1>

<%= render "form", business_profile: @business_profile %>

<br>

<div>
  <%= link_to "Show this business profile", @business_profile %> |
  <%= link_to "Back to business profiles", business_profiles_path %>
</div>
