<p style="color: green"><%= notice %></p>

<h1>Fitness Buddies</h1>

<div id="business_profiles">
  <% @business_profiles.each do |business_profile| %>
    <%= render business_profile %>
    <p>
      <%= link_to "#{business_profile.name}", business_profile %>
    </p>
  <% end %>
</div>
<div>
<p> Wanna Be Someone else's Fitness Buddy?</p>

<%= link_to "Register here", new_business_profile_path %>
</div>