<div id="<%= dom_id booking %>">
  <p>
    <strong>Booking ID</strong>
    <%= booking.id %>
  </p>

  <p>
    <strong>Workout session:</strong>
    <%= link_to "Session details", booking.workout_session %>
  </p>

  <p>
    <strong>Booking Status:</strong>
    <%=render plain: booking.booking_approved? ? "Approved" : "Pending" %>
  </p>

</div>
