<h2> All Bookings </h2>
<div>

    <% @bookings.each do |booking| %>
            <p>Fitness Enthusiast: <%= booking.user.first_name %><br>
                <%= render booking %>
            </p>
    <% end %>
</div>
