<H1 class="text-secondary font-monospace" style="text-align:center;font-weight:bold;"> Find Fitness Buddy </H1>


<div class="text-center text-color-grey" style="font-size: 1.2rem; font-weight: bold;">
<p>

Fitness is always a fun when you have the perfect buddy to guide and support your goals. Are you looking for someone to be your buddy and help you improve your fitness? You are at a perfect platform.

</p>

<div>
 Find Fitness Buddy can be the link connecting you, the fitness enthusiasts to your perfect fitness buddy. Sign up today to find your best mate..

 Do you wanna be someone else's perfect buddy and guide them?Do you want to expand your horizon and let the enthusiasts find you quicker..

 <strong class="text-info">Sign up and register with us today.. </strong>

 
   
 </p>
 </div>
<div class="text-center" > 
 <%= cl_image_tag("edgar-chaparro-sHfo3WOgGTU-unsplash_wij2mx.jpg", :height=>336, :crop=>"scale") %>
</div>
